<html ng-app="polygons" ng-controller="MainCtrl">

<head>
    <title>{{ Page.title() }} - Polygons.me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/main.controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>{{ Page.title() }}</h1>
    <nav class="navbar">
        <ul class="nav nav-pills nav-justified">
            <!--<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
            <li><a ui-sref="algo" ui-sref-active="active">Algorithms</a></li>
            <li><a ui-sref="research" ui-sref-active="active">Research</a></li>
            <li><a ui-sref="projects" ui-sref-active="active">Projects</a></li>-->
            <li class="active"><a href="home">Home</a></li>
            <li><a href="algo">Algorithms</a></li>
            <li><a href="research">Research</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
    </nav>
    <div>
        {{test}}
    </div>
</body>

</html>