<html ng-app="polygons" ng-controller="MainCtrl">

<head>
    <title>{{ Page.title() }} - Polygons.me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
    <script src="/scripts/angular-ui-router.js"></script>
    <script src="/javascripts/main.controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>{{ Page.title() }}</h1>
    <nav class="navbar">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Algorithms</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
    </nav>
    <div>
        {{test}}
    </div>
</body>

</html>